nav {
  background-color: #B22222;
  margin-bottom: 10px;
  height: 40px;
  -webkit-box-shadow: 0 5px 20px 0px #000;
  -moz-box-shadow: 0 5px 20px 0px #000;
  box-shadow: 0 5px 20px 0px #000;
  padding: 10px;
}

.left {
  color: #CD7A26;
  text-decoration: none;
  font-family: tahoma;
  margin-left: 10px;
}

.left:hover {
  text-decoration: none;
  color: white;
}

.right {
  float: right;
  color: #CD7A26;
  font-family: tahoma;
  text-decoration: none;
  margin-right: 10px;
}

.right:hover {
  text-decoration: none;
  color: white;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.picture {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card {
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px 0px #000;
  -moz-box-shadow: 0 5px 20px 0px #000;
  box-shadow: 0 5px 20px 0px #000;
  margin-bottom: 30px;
  text-align: center;
}

.hero {
  border: 5px solid purple;
}